* {
    margin: 0;
    scroll-behavior: smooth;
  }
 
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

   
  .greenColor {
    color: green !important;
  }
  .redColor {
    color: red !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #285ef1; 
}